{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Logged in as {{user.username}}</p>
    <h1>Books</h1>
    {% for book in books %}
        <p>{{ book.author }} - {{ book.title }} 
            <a href="{% url 'frontend:delete' book.id %}">Delete</a> 
            <a href="{% url 'frontend:update' book.id %}">Edit</a> 
            Upload cover</p>
    {% endfor %}
    <a href="{%url 'frontend:logout' %}">Logout</a>
</body>
</html>