{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form id="form" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password1" placeholder="Password">
        <input type="password" name="password2" placeholder="Repeat password">
        <ul>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
        <input type="submit" value="Register">
    </form>
</body>
</html>